@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@keyframes blink-cursor {

  0%,
  49% {
    background-color: var(--color, white);
    color: var(--background, black);
  }

  50%,
  100% {
    background-color: transparent;
    color: transparent;
  }
}

@keyframes blink-text {

  0%,
  49% {
    color: var(--color);
  }

  50%,
  100% {
    color: transparent;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgba(0, 0, 0, 1.0);
  --col-size: 1ch;
  --color: #fff;
  --font-family: monospace;
  --font-size: 16;
  --line-height: 1.2;
  --row-size: 1lh;
}

body {
  background-color: var(--background);
  /* font-family: var(--font-family); uncomment to use google fonts*/
}

html {
  height: 100%;
  width: 100%;
}

.background {
  background-color: var(--background);
  color: transparent;
  grid-column: var(--col)/span 1;
  grid-row: var(--row)/span 1;
  min-width: 1ch;
  width: fit-content;
}

.blink-text {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink-text;
}

.bold {
  font-weight: 700;
}

.cursor {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink-cursor;
  min-width: 1ch;
  width: fit-content;
  z-index: 2;
}

.foreground {
  background-color: transparent;
  color: var(--color, white);
  grid-column: var(--col)/span 1;
  grid-row: var(--row)/span 1;
  width: fit-content;
  z-index: 1;
}

.italic {
  font-style: italic;
}

.screen {
  --cols: 0;
  --rows: 0;
  background: var(--background);
  border: none;
  color: var(--color);
  display: grid;
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * 1px);
  gap: 0;
  grid-template-columns: repeat(var(--cols), var(--col-size));
  grid-template-rows: repeat(var(--rows), var(--row-size));
  height: 100dvh;
  left: 0;
  line-height: var(--line-height);
  max-height: none;
  max-width: none;
  outline: none;
  overflow: hidden;
  top: 0;
  width: 100dvw;
}

.underline {
  text-decoration: underline;
}