@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgba(0, 0, 0, 1.0);
  --color: #fff;
  --font-family: monospace;
  --font-size: 16;
  --line-height: 1.2;
  --row-size: calc(var(--font-size) * var(--line-height) * 1px);
}

body {
  background-color: var(--background);
  /* font-family: var(--font-family); uncomment to use google fonts*/
}

html {
  height: 100%;
  width: 100%;
}

.blink-text {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink-text;
}

.cell {
  --background: transparent;
  --color: white;
  background-color: var(--background);
  color: var(--color);
  grid-column: var(--col)/span 1;
  grid-row: var(--row)/span 1;
  height: var(--row-size);
  width: 1ch;
}

.cursor {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink-cursor;
}

@keyframes blink-cursor {

  0%,
  49% {
    background-color: var(--color);
    color: var(--background);
  }

  50%,
  100% {
    background-color: var(--background);
    color: var(--color);
  }
}

@keyframes blink-text {

  0%,
  49% {
    color: var(--color);
  }

  50%,
  100% {
    color: transparent;
  }
}

.screen {
  --cols: 0;
  --rows: 0;
  background: var(--background);
  border: none;
  color: var(--color);
  display: grid;
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * 1px);
  gap: 0;
  grid-template-columns: repeat(var(--cols), 1ch);
  grid-template-rows: repeat(var(--rows), var(--row-size));
  height: 100dvh;
  left: 0;
  line-height: var(--line-height);
  overflow: hidden;
  top: 0;
  width: 100dvw;
}